<!doctype html>
<html>
  <head>
    <title>System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    {% load static %}
    <script src={% static "/js/jquery-3.2.1.js" %}></script>
    <script src={% static "/js/jquery.dataTables.js" %}></script>
    <script src={% static "/js/popper.min.js" %}></script>
    <script src={% static "/js/bootstrap.min.js" %}></script>
    
    <link rel="stylesheet" href={% static "/css/bootstrap.min.css" %}>
    
    <link href={% static "/css/font-awesome.min.css" %}>
    <link href={% static "/css/font_roboto.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "/css/jquery.dataTables.css" %}> 
    <!-- scripts for datetimepicker-->
    <link rel="stylesheet" href={% static "/css/flatpickr.min.css" %}>
    <script src={% static "/js/flatpickr.js"  %}></script>
    <script src={% static "/js/cs.js" %}></script>

    
   
    <!--  <base href="http://127.0.0.1:8000/">-->
</head>
<body>
  {% include "menu.html" %}
  <br>
  <div class="container col-12">
    <!--<div class="row justify-content-center"> !-->
      <div class="col-12"> 
           
              
              {% block content %}

              {% endblock %} 
      </div>
     <!--</div> !-->
  </div>
<script>
/*
$('.table thead tr th').on("click", function(event) {
  if ($(event.target).is("button")) {
		table.column(1).orderable(false).draw();//dummy to disable sorting
  }

});
var table = $('.table').DataTable({
  initComplete: function() {
    this.api().columns([1]).every(function() {
      var column = this;
      var select = $('<select class="selectpicker" data-show-content="false" data-none-selected-text="Position" multiple><option value="" >Show All</option></select>')
        .appendTo($(column.header()).empty())
        .on('changed.bs.select', function(e) {
          var val = $(this).val();
          var fVal = val.join("|")
          column
            .search(fVal, true, false)
            .draw();
        }); //select

      column.data().unique().sort().each(function(d, j) {
        select.append('<option value="' + d + '">' + d + '</option>')
      }); //column.data
    }); //this.api
  } //initComplete
});
*/

 $(document).ready(function() {
var table = $('table').DataTable(
      {
      setInterval: 30000,
      "pageLength": 50,
      })
          });
</script>
</body>

</html>
