{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="container">
  <div class="jumbotron">
    <h1>Přihlášení</h1>

      <form method="post" action='/auth'>
        {% csrf_token %}
        <div class="form-group">
            <label for="username">User name :</label>
            <input type="text" class="form-control" name="username" placeholder="Username">
        </div>
        <div class="form-group"></div>
            <label for="password">Password :</label>
            <input type="password" class="form-control" name="password">
        </div>
        <input type="submit" name="" class="btn btn-primary" value="Login">

      </form>

  </div>
</div>
{% endblock %}