<!--Navbar -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ HTTP_HOST }}/students/">Results</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    {% if user.is_authenticated %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">


       


       <!--
        <li class="navbar-nav">
            <a class="nav-link" href="{{ HTTP_HOST }}/zadanka/gp/">
              Žádanky GP
            </a>
        </li>
        <li class="navbar-nav">
            <a class="nav-link" href="{{ HTTP_HOST }}/zadanka_online/gpcz/" target="_blank" rel="noopener noreferrer">
              Online formulář - CZ
            </a>
        </li>
        <li class="navbar-nav">
            <a class="nav-link" href="{{ HTTP_HOST }}/zadanka_online/gp/" target="_blank" rel="noopener noreferrer">
              Online formulář - EN
            </a>
        </li>-->
      </ul>
      <ul class="navbar-nav">
            <li class="nav-item">
                {% if user.is_authenticated %}
                {{user.first_name}} {{user.last_name}}
                <a class="nav-link"  href="{{ HTTP_HOST }}/logout_view"> Log out</a>
                {% else %}
                
                {% endif %}
            </li>
      </ul>
      {% else %}
      {% endif %}
    </div>
  </nav>
<!--/.Navbar -->