

{% block content %}


<form action='.' method='POST'>{% csrf_token %}
    <h1>Do you wish to delete {{ object.first_name }} {{ object.surname }}?</h1>
    <p><input type='submit' name='Yes' value='Yes' /> <input type='submit' name='No' value='No' /></p>

</form>

{% endblock %}
