{% extends 'base.html' %}

{% block content %}
<a class="btn btn-outline-primary" href="create/">Add Patient</a>
<br>

<table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Surname</th>
        <th>Age</th>
        <th>Insurance Company</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
{% for instance in data %}
<tr>
    <td>{{ instance.pk  }}</td>
    <td>{{ instance.first_name }}</td>
    <td>{{ instance.surname }}</td>
    <td>{{ instance.age }}</td>
    <td>{{ instance.insurance_company.name_of_insurance_company }}</td>
    <td>
      <a class="btn btn-outline-primary" href="{{ instance.id }}/edit/">Edit</a>
      <a class="btn btn-outline-danger" href="{{ instance.id }}/delete/">Remove</a> 
    </td>  
</tr>
{% endfor %}

</tbody>
</table>


{% endblock %}